# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
tmp_table_size = 3G
max_heap_table_size = 3G
innodb_buffer_pool_size=3G
internal_tmp_mem_storage_engine = MEMORY

# can load files
secure-file-priv = ""

# binlog 
binlog_expire_logs_seconds = 86400
# expire_logs_days = 1

# lock wait time
innodb_lock_wait_timeout = 500

# 认证插件
authentication_policy = mysql_native_password